.row-text-viewer {
    height: 370px;
    overflow: auto;
    border-bottom: 1px ridge;
}

.btn-outline-secondary{
    background-color: #21a0d2;
    color: floralwhite;
}

.modal-header{
    background-color: #21a0d2;
    color: floralwhite;
}

.alert-primary{
    color: #000000;
    background-color: #21a0d282;
    border-color: #21a0d282;
}

.alert-secondary{
    color: #000000;
}